body{
  /*background: red;*/
}

.main-wrapper{
  background-color: grey;
  min-height: 200px;
  width: 1000px;
  border: 3px solid black;
  padding: 25px;
  text-align: center;
}

.red-box{
  background-color: red;
  height: 200px;
  width: 45%;
  border: 3px solid black;
  display: inline-block;
  margin-bottom: 25px;
}
.left-rb{
  margin-right: 39px;
}
.right-rb{
  margin-left: 39px;
}

.blue-box{
  height: 200px;
  background-color: blue;
  border: 3px solid black;
  margin-bottom: 25px;
}

.yellow-box{
  width: 28%;
  height: 200px;
  background-color: yellow;
  border: 3px solid black;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 25px;
}

.mid-yellow{
  /*margin-left: 30px;
  margin-right: 30px;*/

  margin: 0 60px;

}

.green-box{
  height: 200px;
  background-color: green;
  border: 3px solid black;
  margin-bottom: 25px;
  padding: 25px 0;
  position: relative;
  /*top: 30px;
  left: 30px;*/
}

.purple{
  height: 180px;
  width: 180px;
  background-color: purple;
  border: 3px solid black;

}

.left{


  position: absolute;
  top: 30px;
  left: 30px;

}
.right{


  position: absolute;
  top: 30px;
  right: 30px;

}













/*end*/
